.streamoptions-list-item-title,.streamoptions-list-item-value {
    padding: 5px;
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    background-color: #FFF;
    outline: none;
    border: none;
    height: 30px;
    min-width: 85px;
    width: 50%;
    border-radius: 0;
}
select.streamoptions-list-item-title,select.streamoptions-list-item-value.streamoptions-select-value {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.streamoptions-list-item-title:focus,.streamoptions-list-item-value:focus {
    border: none;
}
.streamoptions-list-item-title,.streamoptions-list-item-title:focus {
    border-right: solid thin #BBB;
    background-color: #EEEEEE;
}
.streamoptions-list-item,.streamoptions-list-item-main,.streamoptions-list-item-del,.streamoptions-add {
    display: inline-block;
    vertical-align: top;
}
.streamoptions-list * {
    font-size: 14px;
    box-sizing: border-box;
}
.streamoptions-list-item-del,.streamoptions-add {
    padding: 5px;
    text-align: center;
    background-color: #EEE;
    cursor: pointer;
    height: 30px;
    width: 30px;
    font-weight: bold;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.streamoptions-list-item-del:hover,.streamoptions-add:hover {
    background-color: #BBB;
}
.streamoptions-list-item-del {
    width: 10%;
    width: calc(30px - 0px);
    border-left: solid thin #BBB;
}
.streamoptions-list-item {
    margin: 0 10px 10px 0;
    border-radius: 2px;
    overflow: hidden;
    min-width: 200px;
    border: solid thin #BBB;
}
.streamoptions-add {
    border-radius: 2px;
    border: solid thin #BBB;
}
.streamoptions-list-item-main {
    width: 90%;
    width: calc(100% - 30px);
}
/*Style the boolean (from https://goo.gl/nrwbSb)*/
input.streamoptions-list-item-value.streamoptions-boolean {
    margin: 0;
    padding: 0 5px;
}
input.streamoptions-list-item-value.streamoptions-boolean {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}
input.streamoptions-list-item-value.streamoptions-boolean::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input.streamoptions-list-item-value.streamoptions-boolean:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input.streamoptions-list-item-value.streamoptions-boolean::-ms-track {
    cursor: pointer;
    background: transparent; /* Hides the slider so custom styles can be added */
    border-color: transparent;
    color: transparent;
}

/*STYLING FOR THE THUMB*/
/* for some reason, cannot save space and put all of the styles together */
/* Special styling for WebKit/Blink */
input.streamoptions-list-item-value.streamoptions-boolean::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 50%;
    height: 26px;
    border-radius: 2px;
    background: #EEE;
    cursor: pointer;
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
/* All the same stuff for Firefox */
input.streamoptions-list-item-value.streamoptions-boolean::-moz-range-thumb {
    width: 50%;
    height: 26px;
    border-radius: 2px;
    background: #EEE;
    cursor: pointer;
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
/* All the same stuff for IE */
input.streamoptions-list-item-value.streamoptions-boolean::-ms-thumb {
    width: 50%;
    height: 26px;
    border-radius: 2px;
    background: #EEE;
    cursor: pointer;
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    -ms-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
input.streamoptions-list-item-value.streamoptions-boolean::-moz-range-track {
    height: 0;
}
input.streamoptions-list-item-value.streamoptions-boolean.streamoptions-boolean-true::-webkit-slider-thumb {
    background: #93B7F9;
    border: none;
}
input.streamoptions-list-item-value.streamoptions-boolean.streamoptions-boolean-true::-moz-range-thumb {
    background: #93B7F9;
    border: none;
}
input.streamoptions-list-item-value.streamoptions-boolean.streamoptions-boolean-true::-ms-thumb {
    background: #93B7F9;
    border: none;
}
.streamoptions-list-item-value::-moz-focus-inner {
    border: 0;
}
input.streamoptions-list-item-title::-moz-focus-inner {
    border: 0;
}
